
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.login_signup {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-right: 3%;
    
  }

  @font-face {
    font-family: 'NavBarFont';
    src: url("../../assets/JMH\ Typewriter.otf");
}


.enlaces{
    font-family: 'NavBarFont';
    font-size: 12px;
}

.font_name{
  color: black;
}