@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Grape+Nuts&display=swap");

/* Estilos base */
.jumbotron_edit,
.jumbotron_edit_home,
.jumbotron_edit_foto {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.titulo_jumbo {
  font-family: "Grape";
  font-size: 18px;
}

.jumbotron_edit::before,
.jumbotron_edit_home::before,
.jumbotron_edit_foto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.jumbotron_content_edit {
  position: relative;
  z-index: 2;
  text-align: start;
  padding: 1rem 2rem;
}

.jumbotron_content_edit h1 {
  font-size: 2rem;
}

.jumbotron_content_edit p {
  font-size: 1.25rem;
}

@media (max-width: 576px) {
  .jumbotron_content_edit {
    padding-left: 1rem;
    transform: translateX(-18%);
  }

  .jumbotron_content_edit h1 {
    font-size: 1.5rem;
  }

  .jumbotron_content_edit p {
    font-size: 0.9rem; /* Tamaño reducido para subtítulos */
  }
}
