.container {
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
}

.blocWrapper {
  display: flex;
  gap: 12px;
  padding-top: 30px;
  justify-content: center;
}

.perspective {
  width: 80px;
  height: 120px;
  position: relative;
  perspective: 1200px;
}

/* Las anillas (se repiten sobre cada hoja) */
.perspective::before {
  content: '';
  position: absolute;
  top: -18px;
  left: 15%;
  right: 15%;
  height: 30px;
  background: repeating-linear-gradient(
    to right,
    #222 0px,
    #666 1px,
    #222 3px,
    transparent 3px,
    transparent 15px
  );
  z-index: 20;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/papel.jpg');
  background-size: cover;
  background-position: center;
  background-color: #a67c52;
  color: rgba(43, 29, 14, 0.8);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 5rem;
  border-radius: 2px 2px 6px 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.texto_reloj {
  color: white;
  letter-spacing: 8px;
  font-size: 0.7rem;
  display: block;
  font-weight: bold;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .perspective {
    width: 50px;
    height: 90px;
    position: relative;
    perspective: 1200px;
  }

  .perspective::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 15%;
    right: 15%;
    height: 25px;
    background: repeating-linear-gradient(
      to right,
      #222 0px,
      #666 1px,
      #222 3px,
      transparent 3px,
      transparent 15px
    );
    z-index: 20;
  }

  .face {
    font-size: 4rem;
  }
}
