.blurBackground {
  filter: blur(10px);
  z-index: -1;
  border-radius: 8px;
}

.hFrYSD {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: calc(50%);
  background: #ffffff;
  transform: translateY(-50%) rotate(225deg);
  z-index: -2;
  right: -8px;
}

/* Configuración para el div que contiene la información */
.pares {
  width: 30%;
  background-color: rgba(166, 57, 230, 0.5);
  backdrop-filter: blur(px); /* Aplica el desenfoque */
  color: rgb(243, 195, 195);
  border-radius: 10px;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  /* margin: 0 auto; */
  position: relative;
  transition: all 0.3s ease;
  transform-origin: left center;
}
.impares {
  width: 30%;
  background-color: rgba(166, 57, 230, 0.5);
  backdrop-filter: blur(0.5px); /* Aplica el desenfoque */
  color: rgb(243, 195, 195);
  border-radius: 10px;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 70%;
  position: relative;
  transition: all 0.3s ease;
  transform-origin: right;
}

/* Flechas */
.arrow_left {
  position: absolute;
  top: 10%;
  left: 51.1%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(166, 57, 230, 0.5);
}

.arrow_right {
  position: absolute;
  top: 10%;
  right: 51.1%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(166, 57, 230, 0.5);
}

/* Estado expandido */
.expanded_left {
  width: 50%;
  height: 500px;
  transition: all 0.3s ease;
  transform: scaleX(1);
  margin-left: 50%;
}

.expanded_right {
  width: 50%;
  height: 500px;
  transition: all 0.3s ease;
  transform: scaleX(1);
}

.expandedContent {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.expandedContent.hidden {
  opacity: 0;
  pointer-events: none;
}

.image {
  width: 300px;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.mini_image {
  width: 100px;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.buttons_content {
  border-radius: 20px;
  background-color: cadetblue;
}

/* Deshabilitar la expansión en pantallas pequeñas */
@media (max-width: 768px) {
  .image {
    width: 100px;
  }

  .pares {
    width: 105%;
    background-color: rgba(166, 57, 230, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(243, 195, 195);
    border-radius: 10px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    transition: all 0.3s ease;
    transform-origin: left center;
  }
  .impares {
    width: 105%;
    background-color: rgba(166, 57, 230, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(243, 195, 195);
    border-radius: 10px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -3%;
    position: relative;
    transition: all 0.3s ease;
    transform-origin: right;
  }

  .arrow_right {
    right: 53.7%;
  }

  .arrow_left {
    left: 54.5%;
  }
}

@media (max-width: 1366px) {
  .expanded_right {
    height: 500px;
    transform: scaleX(1);
    transition: all 0.3s ease;
    width: 59%;
  }

  .expanded_left {
    width: 59%;
    height: 500px;
    transition: all 0.3s ease;
    transform: scaleX(1);
    margin-left: 50%;
  }

  .arrow_left {
    border-right: 10px solid #a639e680;
    left: 597.5px;
  }

  .arrow_right {
    border-left: 10px solid #a639e680;
    right: 675px;
  }
}

/* Tablet vertical */
@media (max-width: 1024px) {
  .expanded_right {
    height: 500px;
    transform: scaleX(1);
    transition: all 0.3s ease;
    width: 91%;
  }

  .pares {
    align-items: center;
    background-color: #a639e680;
    border-radius: 10px;
    color: #f3c3c3;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    width: 91%;
  }

  .impares {
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    margin-left: 26%;
    transform-origin: right;
    width: 75%;
  }

  .arrow_left {
    border-right: 10px solid #a639e680;
    left: 417.9px;
  }

  .expanded_left {
    height: 500px;
    transform: scaleX(1);
    transition: all 0.3s ease;
    width: 91%;
    left: -57px;
  }

  .arrow_right {
    border-left: 10px solid #a639e680;
    right: 414.6px;
  }
}
