@font-face {
  font-family: "Trance";
  src: url("../../assets/whoaskssatan.ttf");
}

.titulo {
  font-family: "Trance";
  font-size: 80px;
  color: white;
}

.contenedor {
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 60px;
}

.cuerpo_ent {
  text-align: justify;
}

.flotante {
  position: absolute;
  bottom: 10px;
  right: 430px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 18px;
  width: 152px;
  font-size: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.boton_inactivo {
  width: 300px;
  text-align: center;
}

@media (max-width: 768px) {
  .contenedor {
    width: 100%;
  }
}
