@font-face {
  font-family: "Trance";
  src: url("../../assets/whoaskssatan.ttf");
}

.titulo {
  font-family: "Trance";
  font-size: 80px;
  color: white;
}

.contenedor {
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 60px;
}

.cuerpo_ent {
  text-align: justify;
}

.flotante {
  position: absolute;
  bottom: 10px;
  right: 430px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 18px;
  width: 152px;
  font-size: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.boton_inactivo {
  width: 300px;
  text-align: center;
}

.informativo {
  position: absolute;
  right: -27px;
  color: #fff;
  border: none;
  border-radius: 18px;
  width: 220px;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: rotateZ(45deg);
  top: 67px;
}

.ganador {
  background-color: #8f00ff;
  position: absolute;
  right: 77%;
  color: #fff;
  border: none;
  border-radius: 18px;
  width: 220px;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  top: 83%;
}

.box_imagen {
  width: 48%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 2%;
}

.dos_img {
  margin-top: 13%;
  width: 48%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 2%;
}

.col_6 {
  flex: 0 0 auto;
  width: 50%;
}
.col {
  flex: 1 0 0%;
}

@media (max-width: 768px) {
  .contenedor {
    width: 100%;
    padding: 20px;
  }

  .titulo {
    font-size: 40px;
    text-align: center;
  }

  .flotante {
    position: static;
    margin: 20px auto;
    display: block;
    width: auto;
    font-size: 16px;
  }

  .informativo {
    position: absolute;
    right: -27px;
    color: #fff;
    border: none;
    border-radius: 18px;
    width: 220px;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: rotateZ(45deg);
    top: 67px;
  }

  .ganador {
    position: static;
    margin: 10px auto;
    display: block;
    width: auto;
    font-size: 14px;
  }

  .row.mb-3 {
    flex-direction: column;
  }

  .col_6 {
    flex: 0 0 auto !important;
    width: 100%; /* Ajuste para pantalla móvil */
  }
  .col {
    flex: 1 0 auto !important;
    width: 100%; /* Ajuste para pantalla móvil */
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 5px auto;
  }

  .btn {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
  }

  .box_imagen {
    width: 48%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: -3%;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Garantiza que se centre como bloque */
  }
}
