.fondoContenido {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../assets/Garra/garra_bg.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  padding-bottom: 50px;
  overflow-x: hidden;
  width: 100%;
}

.video_container {
  width: 90% !important; /* Deja un 5% de margen a cada lado */
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  margin: 0 auto !important; /* Centrado automático IZQ y DER */
  display: block !important;
  position: relative;
  box-sizing: border-box;
}

.video_container iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.adelanto_garra {
  max-width: 375px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: 660px;
}

:global(html),
:global(body) {
  overflow-x: hidden !important;
  width: 100%;
  position: relative;
}

.homeContainer {
  display: flex;
  gap: 2rem;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  flex: 3;
}

.sidebar {
  flex: 0 0 150px;
  padding-top: 20px;
}

.sidebarContent {
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 8px;
}

/* * {
  border: 1px solid red !important;
} */

@media (max-width: 768px) {
  .video_container {
    width: 90%;
    max-width: 90vw;
  }

  .adelanto_garra {
    max-width: 300px;
  }

  .homeContainer {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .video_container {
    width: 100%;
  }
  
}
