.boxFormulario {
  width: 400px;
  align-content: center;
  display: inline-block;
  border: white 1px dashed;
  color: white;
}

form {
  margin: 3%;
}

@media (max-width: 768px) {
  .boxFormulario {
    width: 350px;
  }
}
