.carousel_image {
  height: 500px;
  max-height: 80vh;
  width: auto; /* Cambiado de w-40 a width auto */
  max-width: 100%; /* Esto asegura que la imagen no desborde el contenedor */
  object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.carousel_item {
  display: flex; /* Usamos flex para alinear el contenido */
  justify-content: center; /* Centra horizontalmente las imágenes */
  align-items: center; /* Centra verticalmente las imágenes */
  height: 300px; /* Mantén la altura uniforme */
}

.carruinner {
  position: relative; /* Asegura que los elementos hijos (carousel-item) tengan un posicionamiento relativo */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 600px;
}

.carrousel_movil {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  height: 60vh;
}

@media (max-width: 768px) {
  .carrousel_movil {
    margin: 0px auto;
    position: relative;
    z-index: 10;
    min-height: 10px;
    max-height: 300px;
  }

  /* .carousel_image {
    height: 500px;
    margin: 0 auto;
    max-height: 80vh;
    max-width: 100%;
    object-fit: cover;
    width: auto;
    position: absolute;
    top: 219px;
  } */

  .visorcomponente_carruinner {
    height: 600px;
    position: relative;
    width: 100%;
    margin-top: 45%;
  }
}

.indicadores {
  top: 500px !important;
}
